	.nyinforuta{
		/*opacity: 0.90;*/
		position: fixed;
		z-index: 15;
		height: 100%;
		overflow: hidden;
		/*background-color: #fff;
		background-color:#5a6280;*/
		background-color:rgba(0,0,0,0.85);
		color:rgba(255,255,255,1.0);
		-webkit-animation:inforutavisa 0.5s;  /*Safari and Chrome */	
	}
	.nyinforuta_ani_hide{
		position: fixed;
		-webkit-animation: inforutavisa 0.5s;
		-webkit-animation-direction: reverse;

	}
	.nyinforuta_hide{
		position: fixed;
		visibility: hidden;
		z-index: -5;
	}
	
	@-webkit-keyframes inforutavisa{
	0% {
		color:rgba(255,255,255,0.0);
		background-color:rgba(0,0,0,0.0);
		/*color:rgba(255,255,255,0.0);
		background-color:rgba(37,44,71,0.0);*/		
	}
	
	100% {	
		color:rgba(255,255,255,1.0);
		background-color:rgba(0,0,0,0.85);
		/*background-color:rgba(37,44,71,0.8);
		color:rgba(255,255,255,1.0);*/
		}
}

#dummie{
	position: fixed;
	z-index: -10;
	width: 100%;
	height: 100%;
	opacity: 0.0;
	background-color: #252c47;

}	

.bakgrundinformation_hide{
	display: none;
	z-index: -1;

}

.bakgrundinformation_show{
	z-index: 1;
	background-color: #fff;
	-webkit-opacity: 0.5;
	position: absolute;
	height: 100%;
	width: 100%;
}

.inforuta_hide{
	
	display: none;
	height: auto;
	top: 10%;
	width: 60%;
	margin-left: 20%;
	color: #FFF;
	background-color: #252c47;
	padding: 3%;
	/*border-radius: 50px;*/
	font-size: 1.0vw;
	-webkit-animation:myfirst 0.5s; /* Safari and Chrome */	
	
}

.inforuta_ani_hide{
	-webkit-opacity: 0;
	z-index: -1;
	position: absolute;
	height: auto;
	top: 10%;
	width: 90%;
	margin-left: 5%;
	color: #252c47;
	padding: 3%;
	/*border-radius: 50px;*/
	font-size: 0px;
	-webkit-animation:myfirst 0.5s; /* Safari and Chrome */
	-webkit-animation-direction: reverse;
	
}

.inforuta{
	/*display: none;*/
	z-index: 2;
	position: absolute;
	height: auto;
	width: 90%;
	color: #FFF;
	background-color: #252c47;
	padding: 3%;
	border-radius: 5px;
	border: solid #fff 2px;
	/*box-shadow: 1px 1px 1px 15px black;*/
	-webkit-animation:myfirst 0.5s; /* Safari and Chrome */
	
}


@-webkit-keyframes myfirst{
	0% {

		width: 90%;
		top: -100%;
		color: #252c47;
	}
	
	100% {	
		top: 40%;


		}
}
img.scale-with-grid-start-information{
		max-width: 20%;
		height: auto;
		margin-left: 40%;
		margin-right: 40%;
	}

img.scale-with-grid-tvatt-information{
	max-width: 15%;
	height: auto;
	float: left;

}
	
.inforuta tr{
	border: 40px transparent;
	margin-top: 50px;

}

.inforuta td{
	/*height: auto;*/

}

.information-text-middle-start{
	text-align: left;
	/*vertical-align: middle;*/
	width: auto;
	/*font-size: 1.5vh;*/
	/*padding-top: 10px;*/
	padding-left: 10px;
	/*padding-bottom: 10%;*/
}
.information-text-middle-start-bottom{
	padding-bottom: 10%;
}

.information-text-middle-tvatt{
	height: auto;
	float: left;
	vertical-align: middle;
	width: auto;
	border: solid 2px #FFF;
	/*font-size: 1.0vh;*/
	/*padding-top: 2%;*/

	
}

.information-text-middle{
	padding-top: 4%;	
}

.info-tabel-tvatta{
	height: auto;
	margin-top: 5%;
}

.rutatvatt{
	/*padding-top: 10px;*/
	width: 15%;
	padding-top: 2%;
}

/*Här sätter vi så att texten blir centrerad */
.rutatvatt p{
	padding-top: 3.75%;
	padding-left: 17%;
}

.rutaett{
	float: left;
}

.rutatva{
	vertical-align: bottom;
}

.rutatva a{
	vertical-align: bottom;
	text-decoration: none;
}

table{
	height: auto;
	width: 100%;
}
