/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
		height: 100%;
		}
	td{
		/*border: 2px solid white;*/
		text-align: center;
		vertical-align: middle;
		width: auto;
		height: auto;
	}
	a img{
		width: 100%;
		height: auto;
	}

	/*td {
		width: 50px;
		border: 4px solid black;
		height: 50px;
	}*/
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#252c47;
    background-attachment:fixed;
    font-family: Arial, sans-serif;
    font-size:24px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
	color: #fff;
}

/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* #Base 960 Grid
================================================== */

    .container                                  { position: relative; width: 100%; margin: 0 auto; padding-top: 40%;}
    .container .column,
    .container .columns                         { float: left; display: inline; /*margin-left: 10px; margin-right: 10px;*/ }
    .row                                        { margin-bottom: 20px; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .container .one.column,
    .container .one.columns                     { width: 40px;  }
    .container .two.columns                     { width: 100px; }
    .container .three.columns                   { width: 160px; }
    .container .four.columns                    { width: 220px; }
    .container .five.columns                    { width: 280px; }
    .container .six.columns                     { width: 340px; }
    .container .seven.columns                   { width: 400px; }
    .container .eight.columns                   { width: 50%; 	}
    .container .nine.columns                    { width: 520px; }
    .container .ten.columns                     { width: 580px; }
    .container .eleven.columns                  { width: 640px; }
    .container .twelve.columns                  { width: 700px; }
    .container .thirteen.columns                { width: 760px; }
    .container .fourteen.columns                { width: 820px; }
    .container .fifteen.columns                 { width: 880px; }
    .container .sixteen.columns                 { width: 100%;	}

    .container .one-third.column                { width: 300px; }
    .container .two-thirds.column               { width: 620px; }

    /* Offsets */
    .container .offset-by-one                   { padding-left: 60px;  }
    .container .offset-by-two                   { padding-left: 120px; }
    .container .offset-by-three                 { padding-left: 180px; }
    .container .offset-by-four                  { padding-left: 240px; }
    .container .offset-by-five                  { padding-left: 300px; }
    .container .offset-by-six                   { padding-left: 360px; }
    .container .offset-by-seven                 { padding-left: 420px; }
    .container .offset-by-eight                 { padding-left: 480px; }
    .container .offset-by-nine                  { padding-left: 540px; }
    .container .offset-by-ten                   { padding-left: 600px; }
    .container .offset-by-eleven                { padding-left: 660px; }
    .container .offset-by-twelve                { padding-left: 720px; }
    .container .offset-by-thirteen              { padding-left: 780px; }
    .container .offset-by-fourteen              { padding-left: 840px; }
    .container .offset-by-fifteen               { padding-left: 900px; }





/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #181818;
		font-family: "Georgia", "Times New Roman", serif;
		font-weight: normal; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }

	p { margin: 0 0 0px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: bold }
	small { font-size: 80%; }
	.center { text-align: center }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
	a, a:visited { color: #fff; text-decoration: underline; outline: 0; font-size: 50px; }
	a:hover, a:focus { color: #fff; }
	p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
/*	
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }
*/
/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }
		
	img.scale-with-grid-logo {
		max-width: 100%;
		height: auto; }	
/* #Custom
================================================== */
.logo{
	margin-top: 5%;
	margin-left: 5%;
	width: 30%;
	position: fixed;
	
}	
/* screen mellan 240 - 320px */
@media only screen and (min-width: 240px) and (max-width: 320px) {	
	
	img.scale-with-grid{
		
		height: 120px;
	}
	
	.logo{
	margin-top: 5%;
	margin-left: 5%;
	width: 35%;
	position: fixed;
	}
	
	p{
		font-size: 12px;
		
	}
	
	
	.textboxA
	{
		
		font-size: 16px;
		top: 30%;
		position: absolute;
		height: 10%;
		width: 70%;
		margin-left: 15%;
	}
	.textboxL
	{
		font-size: 16px;
		top: 47.5%;
		position: absolute;
		height: 10%;
		width: 70%;
		margin-left: 15%;
	}
	
	.submitknapp{
		font-size: 16px;
		position: relative;
		text-align: center;
		float: right;
		background: #aaa;
		border: 0px;
		color: #fff;
	}
	
}

/* screen mellan 240 - 320px */
@media only screen and (min-width: 321px) and (max-width: 479px) {	
	
	
	.logo{
	margin-top: 5%;
	margin-left: 5%;
	width: 35%;
	position: fixed;
	}
	
	p{
		font-size: 20px;
		
	}
	.textboxA
	{
		
		font-size: 24px;
		top: 30%;
		position: absolute;
		height: 12.5%;
		width: 70%;
		margin-left: 15%;
	}
	.textboxL
	{
		font-size: 24px;
		top: 47.5%;
		position: absolute;
		height: 12.5%;
		width: 70%;
		margin-left: 15%;
	}
	
		.submitknapp{
		font-size: 24px;
		position: relative;
		text-align: center;
		float: right;
		background: #aaa;
		border: 0px;
		color: #fff;
	}
}
	

/* screen mellan 480 - 639px */
@media only screen and (min-width: 480px) and (max-width: 639px) {	
	p{
		font-size: 24px;
		
	}
	.textboxA
	{
		
		font-size: 30px;
		top: 30%;
		position: absolute;
		height: 12.5%;
		width: 70%;
		margin-left: 15%;
	}
	.textboxL
	{
		font-size: 30px;
		top: 47.5%;
		position: absolute;
		height: 12.5%;
		width: 70%;
		margin-left: 15%;
	}
	
		.submitknapp{
		font-size: 30px;
		position: relative;
		text-align: center;
		float: right;
		background: #aaa;
		border: 0px;
		color: #fff;
	}
}	

/* screen mellan 640 - 800px */
@media only screen and (min-width: 640px) and (max-width: 800px) {	
	p{
		font-size: 30px;
		
	}
	
	.textboxA
	{
		
		font-size: 60px;
		top: 30%;
		position: absolute;
		height: 12.5%;
		width: 70%;
		margin-left: 15%;
	}
	.textboxL
	{
		font-size: 60px;
		top: 47.5%;
		position: absolute;
		height: 12.5%;
		width: 70%;
		margin-left: 15%;
	}
	
		.submitknapp{
		font-size: 60px;
		position: relative;
		text-align: center;
		float: right;
		background: #aaa;
		border: 0px;
		color: #fff;
	}
}		

/* screen mellan 801 - 1080px */
@media only screen and (min-width: 801px) and (max-width: 1080px) {	
	p{
		font-size: 40px;
		
	}
	
	.textboxA
	{
		
		font-size: 70px;
		top: 30%;
		position: absolute;
		height: 12.5%;
		width: 70%;
		margin-left: 15%;
	}
	.textboxL
	{
		font-size: 70px;
		top: 47.5%;
		position: absolute;
		height: 12.5%;
		width: 70%;
		margin-left: 15%;
	}
	
		.submitknapp{
		font-size: 70px;
		position: relative;
		text-align: center;
		float: right;
		background: #aaa;
		border: 0px;
		color: #fff;
	}
}	
	
/* min bredd 1080px*/
@media only screen and (min-width: 1081px){	
	.logo{
		margin-top: 5%;
		margin-left: 5%;
		width: 15%;
	
	}	
	.textboxA
	{
		
		font-size: 90px;
		top: 30%;
		position: absolute;
		height: 12.5%;
		width: 70%;
		margin-left: 15%;
	}
	.textboxL
	{
		font-size: 90px;
		top: 47.5%;
		position: absolute;
		height: 12.5%;
		width: 70%;
		margin-left: 15%;
	}
	
	.submitknapp{
		font-size: 90px;
		position: relative;
		text-align: center;
		float: right;
		background: #aaa;
		border: 0px;
		color: #fff;
		padding: 5px; 
		
	}
}

	#submitposition{
		position: absolute;
		top: 65%;
		width: 85%;
		margin-right: 15%;
	}



/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }



